<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Select a Train</title>


   <link rel="stylesheet" type="text/css" href="../static/css/jbtron.css">
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
    <link href="../static/css/signup.css" type= "text/css" rel="stylesheet">

  </head>

  <body>

    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="history">History</a></li>
            <li role="presentation"><a href="enqj">Journey</a></li>
            <li role="presentation"><a href="enqt">Trains</a></li>
            <li role="presentation" ><a href="dashboard">Dashboard</a></li>
            <li role="presentation" class = "active"><a href="#">Book</a></li>
            <li role="presentation"><a href="cancel">Cancel</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">IndRail</h3>
      </div>
 	</div>
 		<div>
        <div class="jumbotron">
          {% if length>0 %}
        <h1 style="font-size: 300%; text-align: center;">Book your Tickets</h1>
        <hr style="width: 0px;">
       <table style="width: 100%; text-align: left; font-size: 120%; margin-left: 10px;">
       <tr>
        <td>Train</td>
        <td>DoJ</td>
        <td>JStart</td>
        <td>JEnd</td>
        <td>Start</td>
        <td>End</td>
        <td>Cost</td>
        </tr>
        <form action="/booktrain" class="form-signin" method="POST" id="form1">
        {% for i in range(length) %}
        <tr>
        <td>{{ final[i][1] }}</td>
        <td>{{ doj }}</td>
        <td>{{ arrv[i][0] }}</td>
        <td>{{ deps[i][0] }}</td>
        <td>{{ starts }}</td>
        <td>{{ ends }}</td>
        <td>{{ costs[i] }}</td>
        <td><button style="font-size:60%; padding: 7px 12px;" type="submit" form="form1" name="submit" class="btn btn-sm btn-primary" value="{{ i }}">Book Ticket</button></td>
        </tr>
       {% endfor %}
      </form>
      </table>
      {% else %}
      <h1 style="font-size: 300%; text-align: center;">No Tickets Available!</h1>
      {% endif %}
      </div>
     </div>
  </body>
</html>
