<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Dashboard</title>
	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../static/css/dashboard.css">
</head>
<body>
    <div class="container">
    	<div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="login">Sign Out</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Welcome to Dashboard {{ name }}!</h3>
    	</div>
    <hr>
    </div>
<div style="height: 150px;"></div>
{% if msg %}
<p class="abc">{{ msg }}</p>
{% endif %}
<a href="enqj"><button type="button" class="btn btn-primary btn-lg btn-block">Look at available trains for your Journey</button></a>
<hr style="border-width: 0px;">
<a href="enqt"><button type="button" class="btn btn-primary btn-lg btn-block">Enquire about a Train</button></a>
<hr style="border-width: 0px;">
<a href="booking"><button type="button" class="btn btn-primary btn-lg btn-block">Book Tickets</button></a>
<hr style="border-width: 0px;">
<a href="history"><button type="button" class="btn btn-primary btn-lg btn-block">Current Bookings</button></a>
<hr style="border-width: 0px;">
<a href="cancel"><button type="button" class="btn btn-primary btn-lg btn-block">Cancel Ticket</button></a>
</body>
</html>